<a href="https://colab.research.google.com/github/SAKSHIDHYANI/Global-Terrorism-Analysis/blob/main/Global_Terrorism_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [ ]:
#importing required python pacakges and libraries

import pandas as pd
import numpy as np

In [ ]:
#Mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Reading data and storing as dataframe 
GTD_data = pd.read_csv("/content/drive/MyDrive/Almabetter/Capstone project 1/Global Terrorism Data.csv",encoding = "ISO-8859-1")
GTD_data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [ ]:
# Understanding data structure 

GTD_data.shape

(181691, 135)

In [ ]:
GTD_data.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [ ]:
GTD_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [ ]:
# Checking columns with a very high count of null values as compared to the total records(ratio : Null values count/ total count < 0.5 (approx.)).
pd.set_option('display.max_rows',None)
cols = GTD_data.isna().sum()
cols_df = cols.to_frame()
cols_df.rename(columns={0:"Null values count"},inplace=True)
cols_high_nullvalues_count = cols_df[cols_df["Null values count"] > 100000]
cols_high_nullvalues_count

                    Null values count
approxdate                     172452
resolution                     179471
location                       126196
alternative                    152680
alternative_txt                152680
attacktype2                    175377
attacktype2_txt                175377
attacktype3                    181263
attacktype3_txt                181263
targtype2                      170547
targtype2_txt                  170547
targsubtype2                   171006
targsubtype2_txt               171006
corp2                          171574
target2                        170671
natlty2                        170863
natlty2_txt                    170863
targtype3                      180515
targtype3_txt                  180515
targsubtype3                   180594
targsubtype3_txt               180594
corp3                          180665
target3                        180516
natlty3                        180544
natlty3_txt                    180544
gsubname                       175801
gname2                         179678
gsubname2                      181531
gname3                         181367
gsubname3                      181671
motive                         131130
guncertain2                    179736
guncertain3                    181371
claimmode                      162608
claimmode_txt                  162608
claim2                         179801
claimmode2                     181075
claimmode2_txt                 181075
claim3                         181373
claimmode3                     181558
claimmode3_txt                 181558
compclaim                      176852
weaptype2                      168564
weaptype2_txt                  168564
weapsubtype2                   170149
weapsubtype2_txt               170149
weaptype3                      179828
weaptype3_txt                  179828
weapsubtype3                   179998
weapsubtype3_txt               179998
weaptype4                      181618
weaptype4_txt                  181618
weapsubtype4                   181621
weapsubtype4_txt               181621
propextent                     117626
propextent_txt                 117626
propvalue                      142702
propcomment                    123732
nhostkid                       168119
nhostkidus                     168174
nhours                         177628
ndays                          173567
divert                         181367
kidhijcountry                  178386
ransom                         104310
ransomamt                      180341
ransomamtus                    181128
ransompaid                     180917
ransompaidus                   181139
ransomnote                     181177
hostkidoutcome                 170700
hostkidoutcome_txt             170700
nreleased                      171291
addnotes                       153402
scite2                         104758
scite3                         138175
related                        156653

In [ ]:
# 77 rows have large number of null values (more than 100000)
cols_high_nullvalues_count.shape

(77, 1)

In [ ]:
#copying the original data into GTDdata to keep an original copy of the data
GTDdata_copy = GTD_data.copy()
cols_high_nullvalues_count['variables'] = cols_high_nullvalues_count.index
cols_high_nullvalues_count.reset_index(inplace=True,drop=True)
cols_high_nullvalues_count

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    Null values count           variables
0              172452          approxdate
1              179471          resolution
2              126196            location
3              152680         alternative
4              152680     alternative_txt
5              175377         attacktype2
6              175377     attacktype2_txt
7              181263         attacktype3
8              181263     attacktype3_txt
9              170547           targtype2
10             170547       targtype2_txt
11             171006        targsubtype2
12             171006    targsubtype2_txt
13             171574               corp2
14             170671             target2
15             170863             natlty2
16             170863         natlty2_txt
17             180515           targtype3
18             180515       targtype3_txt
19             180594        targsubtype3
20             180594    targsubtype3_txt
21             180665               corp3
22             180516             target3
23             180544             natlty3
24             180544         natlty3_txt
25             175801            gsubname
26             179678              gname2
27             181531           gsubname2
28             181367              gname3
29             181671           gsubname3
30             131130              motive
31             179736         guncertain2
32             181371         guncertain3
33             162608           claimmode
34             162608       claimmode_txt
35             179801              claim2
36             181075          claimmode2
37             181075      claimmode2_txt
38             181373              claim3
39             181558          claimmode3
40             181558      claimmode3_txt
41             176852           compclaim
42             168564           weaptype2
43             168564       weaptype2_txt
44             170149        weapsubtype2
45             170149    weapsubtype2_txt
46             179828           weaptype3
47             179828       weaptype3_txt
48             179998        weapsubtype3
49             179998    weapsubtype3_txt
50             181618           weaptype4
51             181618       weaptype4_txt
52             181621        weapsubtype4
53             181621    weapsubtype4_txt
54             117626          propextent
55             117626      propextent_txt
56             142702           propvalue
57             123732         propcomment
58             168119            nhostkid
59             168174          nhostkidus
60             177628              nhours
61             173567               ndays
62             181367              divert
63             178386       kidhijcountry
64             104310              ransom
65             180341           ransomamt
66             181128         ransomamtus
67             180917          ransompaid
68             181139        ransompaidus
69             181177          ransomnote
70             170700      hostkidoutcome
71             170700  hostkidoutcome_txt
72             171291           nreleased
73             153402            addnotes
74             104758              scite2
75             138175              scite3
76             156653             related

In [ ]:
# Dropping columns having a large number of missing values
GTD_data.drop(columns = list(cols_high_nullvalues_count['variables']),inplace=True)

In [ ]:
# Dropping the columns which are not required
cols = ['eventid','country','region','iday','specificity','vicinity','summary','attacktype1','targtype1','targsubtype1','natlty1','weaptype1','weapsubtype1','weapdetail','scite1','dbsource','latitude','longitude']
GTD_data.drop(columns = cols,axis = 1,inplace = True)

In [ ]:
# Number of columns left after dropping columns in previous steps
GTD_data.shape

(181691, 40)

In [ ]:
# Function for Checking remaining null values
def finding_null_values(GTD_data):
  rem_nulls = GTD_data.isna().sum().to_frame()
  rem_nulls.rename(columns={0:"Null values count"},inplace=True)
  rem_nulls['variables'] = rem_nulls.index
  rem_nulls.reset_index(inplace=True,drop=True)
  return rem_nulls[rem_nulls['Null values count'] != 0]

In [ ]:
finding_null_values(GTD_data)

    Null values count         variables
5                 421         provstate
6                 434              city
10                  1         doubtterr
11                  1          multiple
16              10373  targsubtype1_txt
17              42550             corp1
18                636           target1
19               1559       natlty1_txt
21                380       guncertain1
23              71115            nperps
24              69489          nperpcap
25              66120           claimed
27              20768  weapsubtype1_txt
28              10313             nkill
29              64446           nkillus
30              66958          nkillter
31              16311            nwound
32              64702          nwoundus
33              69143          nwoundte
35                178         ishostkid

In [ ]:
# removing and replacing null values
GTD_data.dropna(subset=['provstate','city','doubtterr','multiple','target1','guncertain1','ishostkid'],inplace=True)
finding_null_values(GTD_data)

    Null values count         variables
16              10056  targsubtype1_txt
17              41936             corp1
19               1489       natlty1_txt
23              70275            nperps
24              68599          nperpcap
25              65279           claimed
27              20533  weapsubtype1_txt
28              10231             nkill
29              63621           nkillus
30              66118          nkillter
31              16199            nwound
32              63859          nwoundus
33              68278          nwoundte

In [ ]:
# On checking the invalid values for nperps and npercap variable we found out that -99 is the value assigned for unknowns so we will be replacing the null values with -99
# in further steps 

t = GTD_data[(GTD_data['nperps']<0) & (GTD_data['nperpcap']<0)]   
t[['nperps','nperpcap']].head(20)

    nperps  nperpcap
5    -99.0     -99.0
7    -99.0     -99.0
11   -99.0     -99.0
13   -99.0     -99.0
14   -99.0     -99.0
17   -99.0     -99.0
18   -99.0     -99.0
19   -99.0     -99.0
20   -99.0     -99.0
24   -99.0     -99.0
29   -99.0     -99.0
30   -99.0     -99.0
31   -99.0     -99.0
32   -99.0     -99.0
33   -99.0     -99.0
35   -99.0     -99.0
37   -99.0     -99.0
38   -99.0     -99.0
40   -99.0     -99.0
42   -99.0     -99.0

In [ ]:
finding_null_values(GTD_data)

    Null values count         variables
16              10056  targsubtype1_txt
17              41936             corp1
19               1489       natlty1_txt
23              70275            nperps
24              68599          nperpcap
25              65279           claimed
27              20533  weapsubtype1_txt
28              10231             nkill
29              63621           nkillus
30              66118          nkillter
31              16199            nwound
32              63859          nwoundus
33              68278          nwoundte

In [ ]:
GTD_data['targsubtype1_txt'].fillna("Unknown",inplace=True)
GTD_data['corp1'].fillna("Unknown",inplace=True)
GTD_data['natlty1_txt'].fillna("Unknown",inplace=True)
GTD_data['nperps'].fillna(-99,inplace=True) # As seen in previous steps, the unknown values for this column are assigned as -99, so replacing null values with -99
GTD_data['nperpcap'].fillna(-99,inplace=True) # As seen in previous steps, the unknown values for this column are assigned as -99, so replacing null values with -99
GTD_data['claimed'].fillna(0,inplace=True) # We are assuming null values to be equal to 0 which indicates nobody took responsibility of the incident
GTD_data['weapsubtype1_txt'].fillna("Unknown",inplace=True)
GTD_data['nkill'].fillna(-1,inplace=True) # Putting negative value in place of not null so that nkill doesnot gets counted in either side 
GTD_data['nkillus'].fillna(-1,inplace=True)
GTD_data['nkillter'].fillna(-1,inplace=True)
GTD_data['nwound'].fillna(-1,inplace=True)
GTD_data['nwoundus'].fillna(-1,inplace=True)
GTD_data['nwoundte'].fillna(-1,inplace=True)

In [ ]:
#No null values remaining
finding_null_values(GTD_data)

Empty DataFrame
Columns: [Null values count, variables]
Index: []

In [ ]:
# Renaming columns with more explainable name

GTD_data.rename(columns={"iyear":"Year of Attack","imonth":"Month of Attack","extended":"Extended Incident","country_txt":"Country","region_txt":"Region","provstate":"Subnational Admin Region",
                         "doubtterr":"unsure terrorism Incident","multiple":"Multiple Incident","success":"Successful Attack","suicide":"Suicide Attack","attacktype1_txt":"Attack Type",
                         "targtype1_txt":"Target type", "targsubtype1_txt":"Target subtype","corp1":"Targeted Entity","target1":"Specific target/victim","natlty1_txt":"Target/Victim Nationality",
                         "gname":"Perpetrator Group","guncertain1":"unconfirmed perpetrator group","individual":"Individual perpetrator","nperps":"Number of perpetrators","nperpcap":"captured perpetrators",
                         "claimed":"Responsibility claimed","weaptype1_txt":"Weapon Type","weapsubtype1_txt":"Weapon Sub Type","nkill":"Fatalities count","nkillus":"Fatalities Count (US)",
                         "nkillter":"Number of Perpetrator Fatalities","nwound":"Injured victims","nwoundus":"Injured victims(US)","nwoundte":"Injured Perpetrators",
                         "property":"Property Damaged","ishostkid":"Hostages/kidnapped Victims","INT_LOG":"International Logistical Attack","INT_IDEO":"International Ideological Attack",
                         "INT_MISC":"International Miscellaneous Attack","INT_ANY":"International Attack","crit1":"Political/Social/Religious/social Goal",
                         "crit2":"Coerced/Intimidating/Publicize to larger audience Goal","crit3":"Outside Iternational Humantarian Law"},inplace=True)

In [ ]:
GTD_data.head(5)

   Year of Attack  ...  International Attack
1            1970  ...                     1
2            1970  ...                     1
3            1970  ...                     1
4            1970  ...                     1
5            1970  ...                    -9

[5 rows x 40 columns]